@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
    background:#f0efff;
    position: relative;
}
p{
    font-size: .9rem;
    margin: .5rem 0;
}
main{
    max-width: 900px;
    width: 100%;
    margin: 3rem auto;
    border-radius: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
}
.bg-overlay{
    max-width: 900px;
    height: 500px;
    background: #fff;
    border-radius: 1rem;
    position: absolute;
    top: 10px;
    /* top: 20%;
    left: 10%; */
}
.one{
    background: #FB896B;
    color: #fff;
    padding: 6rem 1rem 2rem 3rem;
    flex: 0 0 300px;

}
.one h4 i{
    padding-right: 1rem;
}
.one h4{
    font-size: 1.2rem;
}
.one #full{
    display: block;
    background: #F27251;
    padding: .5rem;
    margin-left: -.5rem;
}
.two{
    background: #FB6B6B;
    color: #fff;
    padding: 6rem 1rem 2rem 3rem;
    flex: 0 0 300px;

}
.two h4 i{
    padding-right: 1rem;
}
.two h4{
    font-size: 1.2rem;
}
.three{
    background: #F1A864;
    color: #fff;
    padding: 6rem 1rem 2rem 3rem;
    flex: 0 0 300px;

}
.three h4 i{
    padding-right: 1rem;
}
.three h4{
    font-size: 1.2rem;
}
.four{
    background: #FBD36B;
    padding: 2.5rem 1rem 3.5rem 3rem;
    flex: 0 0 300px;

}
.four h4 i{
    padding-right: 1rem;
}
.four h4{
    font-size: 1.2rem;
}
.five{
    background: #485258;
    color: #fff;
    padding: 2.5rem 1rem 3.5rem 3rem;

    flex: 0 1 600px;
    

}
.five a{
    background-color: #fff;
    color: #485258;
    padding: .5rem 1rem;
    margin: 1rem 0;
    display: inline-block;
}
@media (max-width:599px) {
    .five{
        max-width: 300px;
    }
}